[Unit]
Description=Remote Instant Terminal
After=network.target

[Service]
WorkingDirectory=/home/username/instant-terminal
ExecStart=/usr/bin/node /home/username/instant-terminal/index.js
Environment=TERMINAL_PASSCODE=1234
Environment=PORT=xxxx
Environment=HOST_NAME=xxxx
Environment=NODE_ENV=production
Restart=always
User=username

[Install]
WantedBy=multi-user.target